.hero {
  position: relative;
}

.hero::before {
  background-image: url('./banner.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(3px) brightness(0.35);
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.slide {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.slider-navigation-previous, .slider-navigation-next {
  display: none;
}

.slide-text {
  max-width: 800px;
  display: block;
  margin: auto;
  font-style: italic;
}
